/* $Id$
 *
 * $Log$
 * Revision 1.1  1995/12/20 15:26:39  cernlib
 * Initial revision
 *
 *
 */
XCOMM $XConsortium: hpLib.tmpl,v 1.8 93/08/25 15:30:15 rws Exp $

/*
 * HP shared library template
 */

/* nothing needed yet */
